<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Off-street Carpark</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Off-street Carpark Dashboard</h1>
        
      </div>
  <div class="container">  
      <div class="row">
        
        <h3 style="text-align:center;">Parking Data</h3>
          
        </div>
        <div class="row">
          <button type="button" onclick="changeText(this)">
            By Parking Type
            </button>
          <button type="button" onclick="changeText2(this)">
            By Area</button>
          <button type="button" onclick="changeText3(this)">
            By Census Year</button>
        </div>
      </div>
  <div class="container">
      
    </div>
  </div>
  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
  <div id="myDiv"></div>
  <div id="myDiv2"></div>
  <div>

    <h3 style="text-align:center;">Business Data</h3>
  
    <div id="Bar2"></div> </div> 

  </div>


  
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
  
  
</body>

</html>

