<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <script src="jquery-3.6.3.min.js"></script>
    </head>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    
    <body>
        <!-- <canvas id="myChart" style="width:100%;max-width:600px"></canvas> -->
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Project : Offstreet Carpark in Melbourne CBD</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="dashboard.html">Dashboard.html</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="leaflet.html">Leaflet</a>
                </div>
                
                
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    
                                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/">API LINKS</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Off Street Carparking in Melbourne CBD</h1>
                    <p>Data is collected from the City of Melbourne's Census of Land Use and Employment (CLUE). Two Datasets are used to analyse available off street parking in Melbourne CBD. 
                        Parking data covers the period 2002-2021.
                        The number of off-street car parking spaces per property is recorded in CLUE. Car parking can be classified as:
                        <li> Commercial: Car parking in a publicly accessible, paid parking facility</li>
                        <li> Residential: Car parking in a residential building or property</li>
                        <li> Private: Car parking in a non-residential building that is provided for use by staff, customers or visitors</li>
                    </p>
                    <p>The business establishment data covers the period 2002-2021. It show business establishments with their business address, industry (ANZSIC4) classification, location and CLUE block and small area allocation.
                        A business establishment is defined as:
                        <li> Commercial occupant in a building</li>
                        <li> Separate land use</li>
                        <li> Any permanent presence of economic activity in accordance with standard Industry classification (ANZSIC)</li>
                    </p>   
                        
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
        
        
    </body>
</html>